/* add-on styles */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.intro-header h1 {
  font-size: 48px;
  line-height: 60px;
  padding-top: 20px;
}
.intro-header p.subtitle {
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 20px;
}
.main-panel .aui-page-panel-item {
  padding: 20px 40px 20px 0;
  height: 100px;
}
body {
    background-color: transparent;
}
#content {
    min-height:375px;
}
.centered {
    text-align: center;
}
.aui-lozenge {
  margin-right:2px;
  text-transform: none;
}
span.repo-loz {
  cursor: pointer !important;
}
.no-top-margin {
  margin-top:5px;
}
table.aui .right {
  text-align:right;
}
.aui-group>.aui-item.repo-add-sec {
  vertical-align: bottom;
  width:312px;
}
.repo-add-sec form {
  text-align:right;
}
.repo-results {
  text-align: left;
  padding: 0;
  border: 1px solid #ccc;
  position:absolute;
  border-top:0;
  margin-top: 0px;
  width: 248px;
  background: #fff;
  box-shadow: rgba(0,0,0,0.2) 0 0 3px;
  z-index:10;
}
button, input {
  outline: none !important;
}
.repo-results li {
  padding:5px 3px;
  margin:0;
  overflow:hidden;
  text-overflow:ellipsis;
  cursor:pointer;
}
.repo-results li:hover {
  background-color: #f5f5f5;
}
.addon .aui-group {
  margin-top:0;
}
.addon .centered {
  text-align: center;
}
.addon tr.repo-config {
  background-color:#eee;
}
.addon .relative {
  position:relative;
}
.addon .collapse-config {
  position:absolute;
  top:-4px;
  right:0;
}
.addon .toolcol {
  width:90px;
  min-width:90px;
}
.addon .repo-descr {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 495px;
}
.config-head {
  margin-top: 8px;
}
.connect-github {
  margin-top: 28px !important;
}
.connect-enterprise {
  margin-top: 15px !important;
}
.long-text {
  max-width: 390px !important;
}
.go-back-github {
  margin-left: 13px;
}
.login-form {
  margin-top: 9px !important;
}
.personal-token {
  margin-top: 11px !important;
}
.token-text {
  margin-right: 230px !important;
}
.connect-enterprise {
  margin-top: 16px !important;
}
.cursor-pointer {
  cursor: pointer;
}
.close-warning {
  cursor: pointer;
  left: auto;
  opacity: 1;
  position: absolute;
  right: 20px;
  top: 20px;
}
.access-text {
  padding-right: 31px !important;
}
.help-access-token {
  position: absolute;
  top: 86px;
  left: 629px;
}
span.help-access-token .help-tooltip {
  display: none;
  position: absolute;
  top: -1.8em;
  left: -0.1em;
  padding-left: 2.5em;
  background-color: transparent;
}
span.help-access-token .help-tooltip > span {
  position: relative;
  display: block;
  width: 134px;
  padding: 0.1em 0.6em;
  border: 1px solid #C8C4C1;
  background-color: #FFF;
  color: #615F5F;
  border-radius: 6px;
}
span.help-access-token:hover .help-tooltip, span.help-access-token:focus .help-tooltip,
span.help-access-token .help-tooltip:hover, span.help-access-token .help-tooltip:focus {
  display: block;
}
span.help-access-token .help-tooltip > span:before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -3px;
  left: -7px;
  width: 0;
  height: 0;
  border-color: transparent #FFF transparent transparent;
  border-style: solid;
  border-width: 6px 7px 6px 0;
  z-index: 1;
}
span.help-access-token .help-tooltip > span:after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: -9px;
  width: 0;
  height: 0;
  border-color: transparent #C8C4C1 transparent transparent;
  border-style: solid;
  border-width: 7px 8px 7px 0;
}